---
layout: default
title: 首页
---

{% for post in paginator.posts reversed %}
<div class="well article">
    <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    
    <div class="post-description">
      {% if post.description == null %}
        {{ post.content | strip_html | truncatewords: 60 }}
      {% else %}
        {{ post.description }}
      {% endif %}
    </div>
</div>
{% endfor %}




<!-- Paginator -->
{% assign trans = site.data.values[site.lan] %}
<div class="pagination" style="width: 100%;" hidden>
  <div class="col-md-3" style="text-align: left;">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">{{ trans.newer_page }}</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">{{ trans.newer_page }}</a>
      {% endif %}
  {% endif %}
  </div>
  
  <div class="col-md-6" style="text-align: center;">
  <span class="page-number">{{ trans.page }}: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </div>
  
  <div class="col-md-3" style="text-align: right;">
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">{{ trans.older_page }}</a>
  {% endif %}
  </div>
</div>
