---
layout: default
title: 首页
---

{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
    <div class="well article">
        <a id="{{ category[0] }}" style="position: relative; top: -50px"></a>
        <h2><a href="{{ site.baseurl }}/categories#{{ category[0] }}">{{ category[0] }}</a></h2>

        <ul>
        {% assign pages_list = category[1] %}
        {% assign chapter_list = "" | split: "" %}
        {% for node in pages_list reversed %}
            {% unless node.chapters == null %}
                {% for chapter in node.chapters %}
                    {% unless chapter_list contains chapter %}
                        {% assign chapter_list = chapter_list | push: chapter %}
                        <li>
                            <div style="margin: 0; padding: 0">
                                <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
                            </div>
                        </li>
                    {% endunless %}
                {% endfor %}
            {% endunless %}
        {% endfor %}
        {% assign chapter_list = nil %}
        </ul>
    </div>
{% endfor %}




<!-- Paginator -->
{% assign trans = site.data.values[site.lan] %}
<div class="pagination" style="width: 100%;" hidden>
  <div class="col-md-3" style="text-align: left;">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">{{ trans.newer_page }}</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">{{ trans.newer_page }}</a>
      {% endif %}
  {% endif %}
  </div>
  
  <div class="col-md-6" style="text-align: center;">
  <span class="page-number">{{ trans.page }}: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </div>
  
  <div class="col-md-3" style="text-align: right;">
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">{{ trans.older_page }}</a>
  {% endif %}
  </div>
</div>
